.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}
.h2{
    margin: auto;
    color: #ecf0f1;
}
body{
    background: url(fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.card-body{
    background: url(fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-color: #0984e3;
    
}
